* {
  box-sizing: inherit;
}

body {
  background: #F3F5FC;
  font-size: 16px;
}

.conteudo {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.principal {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div-logo {
  padding: 24px 16px;
}

.logo-cabecalho {
  width: 32px;
  height: 48px;
}

#app {
  display: flex;
  flex: 1;
}

.div-botoes-iniciais {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.botao {
  border-radius: 24px;
  border: 1px solid #0A3871;
  padding: 24px;
}

.espacamento {
  margin-bottom: 24px;
}

.botao-preenchido {
  color: #FFFFFF;
  background: #0A3871;
}

.texto-botao-comecar {
  margin: 24px 72px;
}

.botao-vazado {
  color: #0A3871;
}

.texto-botao-adicionar {
  margin: 0 54px;
}

.div-jogo {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.div-jogo-forca {
  flex: 1 0 auto;
  margin: 40px;
  height: 350px;
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.desenho-forca {
  display: none;
}

.div-jogo-letras {
  flex: 1 0 auto;
  margin: 0 35px;
}

.jogo-acertos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 24px;
  text-align: center;
  margin-bottom: 24px;
}

.jogo-erros {
  flex: 1;
  display: flex;
  color: #495057;
  height: 36px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.jogo-letras {
  float: left;
  margin: 0 10px 10px 0;
  width: 48px;
  height: 36px;
  padding: 0 10px;
  border-bottom: 4px solid #0A3871;
}

.jogo-letras-erros {
  color: #495057;
  margin: 4px;
}

.div-botoes {
  flex: 1 0 auto;
  margin: 56px 16px 16px 16px;
  display: flex;
  flex-direction: column;
}



.rodape {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px auto;
}

.rodape ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.rodape ul li {
  font-weight: 700;
  display: inline;
  margin: 0 10px 0 10px;
  padding: 5px 0;
}

.logo-rodape {
  width: 24px;
  height: 24px;
  display: flex;
  box-shadow: 2px 2px 4px #757FB2;
}

.rodape ul li p {
  color: #757FB2;
  text-shadow: 2px 2px 4px #757FB2;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .div-botoes {
    flex-direction: row;
  }
}

@media screen and (min-width: 1440px) {

}