html {
    background: #F3F5FC;
}








.rodape {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 10px auto;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.rodape ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.rodape ul li {
    font-weight: 700;
    display: inline;
    margin: 0 10px 0 10px;
    padding: 5px 0;
}
.logo-rodape {
    width: 24px;
    height: 24px;
    display: flex;
    box-shadow: 2px 2px 4px #757FB2;
}
.rodape ul li p {
    color: #757FB2;
    text-shadow: 2px 2px 4px #757FB2;
    text-align: center;
}
