








.rodape {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 1440px;
    padding: 10px 20px;
    margin: 10px 20px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}
.rodape ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.rodape ul li {
    font-weight: 700;
    display: inline;
    margin: 0 10px 0 10px;
}